<nav aria-label="Page navigation" class="ms-5">
    <ul class="pagination">
        {% if questions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.previous_page_number }}">Предыдущая</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Предыдущая</span>
            </li>
        {% endif %}
        {% if questions.number > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.number|add:"-1" }}">{{ questions.number|add:"-1" }}</a>
            </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ questions.number }}</span>
        </li>

        {% if questions.number < questions.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.number|add:"1" }}">{{ questions.number|add:"1" }}</a>
            </li>
        {% endif %}

        {% if questions.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.next_page_number }}">Следующая</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Следующая</span>
            </li>
        {% endif %}
    </ul>
</nav>
