{% extends 'layouts/base.html' %}
{% load static %}

{% block login %}
    <div class="d-flex ms-2">
        <a href="{% url 'login' %}" class="card-link">Войти</a>
        <a href="{% url 'signup' %}"  class="card-link ms-4">Зарегистрироваться</a>
    </div>
{% endblock %}

{% block heading_question %}
    <div class="mb-5">
        <span class="fs-2">Новый вопрос</span>
    </div>
{% endblock %}

{% block content %}
    <!-- Сообщение об ошибке, если теги не указаны -->
    {% if form.non_field_errors %}
        <div class="mb-2">
            <span class="text-danger">{{ form.non_field_errors }}</span>
        </div>
    {% endif %}

    <!-- Сообщение об ошибке тегов -->
    {% if errors %}
        <div class="mb-3">
            <ul class="text-danger">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Форма для создания вопроса -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Заголовок вопроса -->
        <div class="row g-3 align-items-start mb-3">
            <div class="col-2">
                <label for="id_heading_question" class="col-form-label">Заголовок</label>
            </div>
            <div class="col-8">
                {{ form.heading_question }} <!-- Здесь используем поле из формы -->
                {% if form.heading_question.errors %}
                    <div class="text-danger">
                        {% for error in form.heading_question.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Текст вопроса -->
        <div class="row g-3 align-items-start mb-3">
            <div class="col-2">
                <label for="id_question_text" class="col-form-label">Текст вопроса</label>
            </div>
            <div class="col-8">
                {{ form.question_text }} <!-- Здесь используем поле из формы -->
                {% if form.question_text.errors %}
                    <div class="text-danger">
                        {% for error in form.question_text.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Теги -->
        <div class="row g-3 align-items-start mb-3">
            <div class="col-2">
                <label for="id_tags" class="col-form-label">Теги</label>
            </div>
            <div class="col-8">
                {{ form.tags }} <!-- Здесь используем поле для тегов из формы -->
                {% if form.tags.errors %}
                    <div class="text-danger">
                        {% for error in form.tags.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Кнопка отправки -->
        <div class="row g-3 align-items-start mb-3">
            <div class="col-2"></div>
            <div class="col-7">
                <button type="submit" class="btn btn-primary mb-1 ms-">Озадачиться</button>
            </div>
        </div>
    </form>
{% endblock %}
