{% extends 'layouts/base.html' %}
{% load static %}

{% block login %}
    <div class="d-flex ms-2">
        <a href="{% url 'login' %}" class="card-link">Войти</a>
        <a href="{% url 'signup' %}" class="card-link ms-4">Зарегистрироваться</a>
    </div>
{% endblock %}

{% block heading_question %}
  <div class="mb-5">
    <span class="fs-2">Регистрация: </span>
  </div>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-2">
      <span class="text-danger">{{ form.non_field_errors }}</span>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2">
          <label for="{{ form.username.id_for_label }}" class="col-form-label">Логин</label>
        </div>
        <div class="col-5">
          {{ form.username }}
        </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2">
          <label for="{{ form.email.id_for_label }}" class="col-form-label">Эл. Почта</label>
        </div>
        <div class="col-5">
            {{ form.email }}
        </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2">
          <label for="{{ form.first_name.id_for_label }}" class="col-form-label">Имя</label>
        </div>
        <div class="col-5">
          {{ form.first_name }}
        </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2">
          <label for="{{ form.password.id_for_label }}" class="col-form-label">Пароль</label>
        </div>
        <div class="col-5">
          {{ form.password }}
        </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2">
          <label for="{{ form.confirm_password.id_for_label }}" class="col-form-label">Подтверждение</label>
        </div>
        <div class="col-5">
          {{ form.confirm_password }}
        </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2">
          <label for="{{ form.avatar.id_for_label }}" class="col-form-label">Аватар</label>
        </div>
        <div class="col-5">
          {{ form.avatar }}
        </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
        <div class="col-2"></div>
        <div class="col-5">
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
        </div>
    </div>

  </form>
{% endblock %}
