{% extends 'layouts/base.html' %}
{% load static %}

{% block login %}
    {% if user.is_authenticated %}
        <img src="{% static 'img/image.png' %}" alt="Avatar" class="rounded-circle" style="width: 60px; height: 60px; margin-right: 10px;">
        <div class="d-flex flex-column ms-2">
            <p class="mb-1">{{ user.username }}</p>
            <a href="{% url 'settings' %}" class="card-link">Настройки</a>
            <a href="#" class="card-link" onclick="document.getElementById('logout-form').submit(); return false;">Выйти</a>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <div class="d-flex ms-2">
            <a href="{% url 'login' %}" class="card-link">Войти</a>
            <a href="{% url 'signup' %}" class="card-link ms-4">Зарегистрироваться</a>
        </div>
    {% endif %}
{% endblock %}

{% block heading_question %}
<div class="mb-3">
    <span class="fs-2">Тег:</span>
    <a href="{% url 'tag' %}?name={{ tag_name }}" class="fs-4 ms-2 text-primary">{{ tag_name }}</a>
</div>
{% endblock %}

{% block content %}
    {% if questions %}
        <div class="row">
            {% for question in questions %}
                <div class="col-12 mb-3">
                    {% include "layouts/question.html" %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            По тегу "{{ tag_name }}" не найдено вопросов.
        </div>
    {% endif %}
{% endblock %}

{% block end %}
    {% include "layouts/pagination.html" %}   
{% endblock %}
